.ship{
    box-shadow: 5px 5px 8px 2px gainsboro;
    margin-left: 20%;
    width: 80vh;
    height: 45vh;
}
.ship-form{
    margin-left: 20px;
}
.ship-form input {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}
.credit-area{
    box-shadow: 5px 5px 8px 2px gainsboro;
    margin-left: 30%;
    width: 80vh;
    height: 45vh;
}