.banner-area{
    background-image: url(../../../Images/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 800px;
}
.banner{
    margin: 50px;
}
.banner h1{
    color: white;
}

.banner p{
    width: 100vh;
    color: white;
}
.banner button{
    margin-top: 40px;
}
